@model IEnumerable<DogRallyMVC.Models.TimetrackingDTO>

@{
    ViewData["Title"] = "View All User Hours";
}

<h1>Registered Hours</h1>

<table class="table">
    <thead>
        <tr>
            <th>User Email</th> <!-- Ændret fra 'User ID' til 'User Email' -->
            <th>Date</th>
            <th>Hours Worked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserEmail</td> <!-- Ændret fra 'UserID' til 'UserEmail' -->
                <td>@item.Date.ToString("dd-MM-yyyy")</td>
                <td>@item.HoursWorked</td>
            </tr>
        }
    </tbody>
</table>
